.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--primaryColor);
    border-radius: 0.5rem;
    width: fit-content;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #f2f2f2;
}

.userContainer .picture {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.stats p, .stats a {
    text-align: center;
    margin: 0;
}

a {
    margin-left: 0 !important;
}

section p {
    max-width: 50rem;
}

.toPanelsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .userContainer {
        width: 90%;
    }

    .stats {
        flex-wrap: wrap;
    }

    .stats p, .stats a {
        margin: 0.5rem;
    }
}
